@import '../../../src/assets/sass/globalVariables.scss';

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: $bg-transparent;

  .login__form-login {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% 0 13%;

    .login__form-title {
      font-family: $reemKufi;
      font-size: 2.5vw;
      margin: 0;
      margin-bottom: 1vw;
    }

    .login__form-subtitle {
      font-family: $rubik;
      font-size: 1vw;
      margin: 0;
      margin-bottom: 2vw;
    }

    .login__form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vw;

      .login__olvidaste-contraseña {
        cursor: pointer;
        width: fit-content;
        margin: 1.2vw auto 2vw auto;
        background: none;
        border: none;
        font-family: $cairo;
        font-size: 1vw;
        color: $primaryDark;
      }
    }

    .login__error-message {
      margin: 0;
      color: $error;
      font-size: 0.8vw;
      text-align: center;
    }
  }

  .login__form-images {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #000 0%, #1C2172 29.01%, #43669E 51.30%, #97FEFD 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .login__background-images {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .login__miia-logo {
      position: absolute;
      width: 80%;
      height: 30%;
    }

    .login__miia-cola {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40%;
      transform: rotateY(180deg);
    }
  }
}
