
<section class="login">
  <article class="login__form-login">
    <h1 class="login__form-title">¡Hola!👋, un gusto tenerte aqui de nuevo.🙌</h1>
    <p class="login__form-subtitle">
      Por favor, introduce tu información de para iniciar
    </p>
    <form
      class="login__form-container"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
    >
      <app-input
        labelText="Correo electrónico"
        placeholder="Ingresar"
        identifier="email"
        inputType="text"
        formControlName="email"
        [msgError]="
          email.errors && email.errors['required'] && email.touched === true
            ? 'El campo correo electrónico es necesario'
            : email.errors && email.errors['email'] && email.touched
            ? 'El campo debe ser un email válido'
            : ''
        "
      ></app-input>
      <app-input
        labelText="Contraseña"
        placeholder="Ingresar"
        identifier="password"
        inputType="password"
        formControlName="password"
        [msgError]="
        password.errors &&
        (password.errors['required'] || password.errors['minlength']) &&
        password.touched === true
        ? password.errors['required']
        ? 'El campo contraseña es necesario'
        : 'La contraseña debe tener al menos ' + password.errors['minlength'].requiredLength + ' caracteres'
       : ''
"
      ></app-input>
      <p class="login__error-message" *ngIf="isErrorMessage !== ''">
        {{ isErrorMessage }}
      </p>
      <div>
        <span class="txt1 p-b-17">
           ¿No tienes cuenta?
        </span>
       <button
        type="button"
        class="login__register-user"
        (click)="gotToRouterRegister()"
      >crea una aqui.
      </button>
    </div>

      <app-button
        [height]="buttonHeight"
        buttonText="Comenzar"
        [isfullWith]="true"
        [isDisabled]="loginForm.valid && isErrorMessage === '' ? false : true"
        (buttonCallBack)="onSubmit(loginForm.value)"
      ></app-button>
    </form>
  </article>
  <app-load-component *ngIf="isLoading"></app-load-component>
</section>
